@model SmartTask.Web.ViewModels.UsersViewModel

@{
    ViewData["Title"] = "Users";
    var prevDisabled = !Model.Users.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Users.HasNextPage ? "disabled" : "";
}

<h2>Users</h2>

<form asp-action="GetAll" method="get" class="mb-3">
    <input type="text" name="searchString" value="@Model.SearchString" class="form-control" placeholder="Search..." />
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Department.Name</td>
                <td>
                     <secure-content asp-area="" asp-controller="User" asp-action="Edit">
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-warning">Update</a>
                    </secure-content>
                       <secure-content asp-area="" asp-controller="User" asp-action="Delete">
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
					</secure-content>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination Controls -->
<div class="d-flex justify-content-between align-items-center">
    <a asp-action="GetAll"
       asp-route-page="@(Model.Users.PageIndex - 1)"
       asp-route-searchString="@Model.SearchString"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>

    <span>Page @Model.Users.PageIndex of @Model.Users.TotalPages</span>

    <a asp-action="GetAll"
       asp-route-page="@(Model.Users.PageIndex + 1)"
       asp-route-searchString="@Model.SearchString"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
</div>
