@using SmartTask.Core.Models
@model List<TaskDendenciesViewModel>


<div class="mb-3">
    <label class="form-label fw-bold">Select Dependencies</label>
    <div class="row">
        <input type="hidden" id="SelectedTaskId" name="SelectedTaskId" />
        @foreach (var task in Model)
        {
            <div class="col-12 col-md-6">
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox"
                    name="SelectedTaskIds"
                    value="@task.Id"
                    id="task-@task.Id"
                    @(task.IsSelected ? "checked" : "") onchange="checkDropDependencyType(`task-${@task.Id}`,@task.Id)" />
                    <label class="form-check-label" for="task-@task.Id">
                        @task.Name
                    </label>
                </div>
            </div>
            <div>
                <select name="dependencyTypes" id="dependency-@task.Id" @(task.IsSelected ? "" : "disabled")>
                    @if (!task.IsSelected)
                    {
                        <option value="0">Select Dependency type</option>
                    }
                    else if (task.DependencyType == DependencyType.StartToStart)
                    {
                        <option value="@DependencyType.StartToStart">Start To Start</option>
                        <option value="@DependencyType.FinishToStart">Finish To Start</option>
                    }
                    else
                    {
                        <option value="@DependencyType.FinishToStart">Finish To Start</option>
                        <option value="@DependencyType.StartToStart">Start To Start</option>
                    }
                </select>
            </div>
        }
    </div>
</div>
<script>
    function checkDropDependencyType(elmId,taskId){
        let checkBoks = document.getElementById(elmId);
        if (checkBoks.checked) {
            document.getElementById(`dependency-`+taskId).disabled=false;
            document.getElementById(`dependency-`+taskId).innerHTML = `<option value="@DependencyType.StartToStart">Start To Start</option>
                                                                       <option value="@DependencyType.FinishToStart">Finish To Start</option>`
        }else{                                                         
            document.getElementById(`dependency-`+taskId).disabled=true;
            document.getElementById(`dependency-`+taskId).innerHTML = `<option value="0">Select Dependency type</option>`
        }
    }
</script>